<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.find.dog">

    <uses-permission android:name="android.permission.VIBRATE"/> <!-- 震动权限 -->
    <uses-permission android:name="android.permission.CAMERA"/> <!-- 摄像头权限 -->
    <uses-feature android:name="android.hardware.camera.autofocus"/> <!-- 自动聚焦权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <!--&lt;!&ndash; 公共权限 &ndash;&gt;-->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <!-- 这个权限用于进行网络定位-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"></uses-permission>
    <!-- 这个权限用于访问GPS定位-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"></uses-permission>
    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"></uses-permission>
    <!-- 获取运营商信息，用于支持提供运营商信息相关的接口-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
    <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位-->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"></uses-permission>
    <!-- 用于读取手机当前的状态-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"></uses-permission>
    <!-- 写入扩展存储，向扩展卡写入数据，用于写入离线定位数据-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
    <!-- 访问网络，网络定位需要上网-->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- SD卡读取权限，用户写入离线定位数据-->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"></uses-permission>


    <application android:name="com.find.dog.main.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        <activity
            android:name="com.find.dog.activity.MainActivity"
            android:windowSoftInputMode="adjustPan|stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name="com.google.zxing.activity.CaptureActivity"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"/>
        <activity android:name="com.find.dog.activity.UserActivity"/>
        <activity android:name="com.find.dog.activity.LoginActivity"/>
        <activity android:name="com.find.dog.activity.UpLoadActivity"
            android:windowSoftInputMode="adjustPan|stateHidden"/>
        <activity android:name="com.find.dog.activity.SelectAlbumActivity"/>
        <activity android:name="com.find.dog.activity.SelectPictureActivity"/>
        <activity android:name="com.find.dog.activity.IssueActivity"
                  android:windowSoftInputMode="adjustPan|stateHidden"/>
        <activity android:name="com.find.dog.activity.ChangePetActivity"
            android:windowSoftInputMode="adjustPan|stateHidden"/>
        <activity android:name="com.find.dog.activity.PayActivity"/>
        <activity android:name="com.find.dog.activity.MyPetActivity"
            android:windowSoftInputMode="adjustPan|stateHidden"/>
        <activity android:name="com.find.dog.activity.RegisterActivity"
            android:windowSoftInputMode="adjustPan|stateHidden"/>
        <activity android:name="com.find.dog.activity.ChangeUserActivity"
            android:windowSoftInputMode="adjustPan|stateHidden"/>
        <!--  百度定位  -->
        <service android:name="com.baidu.location.f" android:enabled="true" android:process=":remote"/>

        <!-- 这里直接复制就可以，需要注意的是authorities，以你的包名加上fileprovider，因为他需要唯一 -->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.find.dog.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"/>
        </provider>

        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="GuRZ2XkrD35UEb1iDAl74VUkIt2463x5" /><!-- ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information. -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" /> //key:开发者申请的Key

        <meta-data android:name="JPUSH_APPKEY" android:value="7a6743ff11c4145fc81219b3" /> <!--  </>值来自开发者平台取得的AppKey-->

    </application>

</manifest>